# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
ENV/

# Database
*.db
*.db-journal

# Logs
*.log

# Environment variables
.env
.venv
.env.local

# Pytest / Coverage
.cache
.pytest_cache/
.coverage
htmlcov/

# Flask server specifics
flask-server/Include
flask-server/Lib
flask-server/Model
flask-server/Scripts